<div class="row" >
  <div class="col-md-6 offset-md-3" style="margin-top: 20px">
<form [formGroup]="emailForm">

  <h1 class="text-secondary">Reinitialisation de votre mot de passe</h1>
  <div class="form-group">
    <label for="email" class="font-weight-bold">Email ou nom d'utilisateur</label>
    <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email">
    <div *ngIf="emailForm.get('email').errors?.email && emailForm.get('email').touched" class="text-danger">Format incorrect</div>
  </div>
  <button   class="btn btn-primary" [class.spinner]="isLoading" [disabled]="istokenFormVisible || !emailForm.valid" (click)="onRequestToken()">Valider</button>

</form>
  <p class="small text-danger">{{errorMessage}}</p>
  <!-- Deuxième formulaire -->
  <form *ngIf="istokenFormVisible" [formGroup]="tokenForm">
    <div class="form-group">
      <label for="code" class="font-weight-bold">Code</label>
      <input type="text" formControlName="code" class="form-control" id="code" placeholder="Enter code">
    </div>
    <div  class="invalid-feedback d-block"
          *ngIf="tokenForm.controls.code.invalid  &&  (tokenForm.controls.code.dirty || tokenForm.controls.code.touched)">
      <div *ngIf="tokenForm.controls.code.errors?.['required']">le code de reinitialisation est requis.</div>
      <div *ngIf="tokenForm.controls.code.errors?.['minlength']"> Le mot de passele code de reinitialisation doit contenir au moins 12 caractères .</div>
    </div>
    <div class="form-group">
      <label for="newPassword" class="font-weight-bold">Nouveau mot de passe</label>
      <input type="password" formControlName="newPassword" class="form-control" id="newPassword" placeholder="Enter new password">
    </div>
    <div  class="invalid-feedback d-block"
          *ngIf="tokenForm.controls.newPassword.invalid  &&  (tokenForm.controls.newPassword.dirty || tokenForm.controls.newPassword.touched)">
      <div *ngIf="tokenForm.controls.newPassword.errors?.['required']">le mot de passe est requis.</div>
      <div *ngIf="tokenForm.controls.newPassword.errors?.['pattern']"> Le mot de passe doit contenir au moins 8 caractères avec des majuscules, des minuscules, des chiffres et des caractères spéciaux..</div>
    </div>
    <div class="form-group">
      <label for="confirmPassword" class="font-weight-bold">Confirmer le mot de passe</label>
      <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm password">
    </div>
    <div  class="invalid-feedback d-block"
          *ngIf="tokenForm.controls.confirmPassword.invalid  &&  (tokenForm.controls.confirmPassword.dirty || tokenForm.controls.confirmPassword.touched)">
      <div *ngIf="tokenForm.controls.confirmPassword.errors?.['required']">le confirmation du mot de passe est requise.</div>
      <div *ngIf="tokenForm.controls.confirmPassword.errors?.['nonCorrespondant']"> Les champs du mot de passe ne correspondent pas.</div>
    </div>
    <div  class="valid-feedback d-block"
          *ngIf="tokenForm.controls.confirmPassword.valid ">
      <div>la confirmation correspond.</div>

    </div>
    <button  class="btn btn-primary" (click)="onvalidatResetRequest()" [disabled]="!tokenForm.valid">Reinitialiser</button>


</form>
  </div>
</div>
