.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}


.custom-container .mat-horizontal-stepper, .custom-container .mat-vertical-stepper {
  width: 600px !important;
}
mat-form-field {
  display: block;
}

/* Si vous utilisez CSS */
.custom-stepper {
  width: 800px; /* Largeur personnalisée */
}
.container {
  width: 800px; /* Adjust the width as needed */
}
.container .mat-horizontal-stepper {
  width: 800px !important;
}

