.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}


.custom-container .mat-horizontal-stepper, .custom-container .mat-vertical-stepper {
  width: 600px !important;
}
mat-form-field {
  display: block;
}
