<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <span class="font-weight-bold">Nom et Prénom</span>
    </div>
    <div>
      {{loadedUser.firstName}} {{loadedUser.lastName}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <span class="font-weight-bold">Email</span>
    </div>
    <div>
      {{loadedUser.email}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <span class="font-weight-bold">Téléphone</span>
    </div>
    <div>
      {{loadedUser.phone}}
    </div>
  </div>
</div>
